<div class="contenedor" id="factura">
  <div class="contenedor-factura">
    <div class="factura-header row">
      <div class="col-6">
        <h2>FREDDY DE JESUS SIMANCAS CAÑATE</h2>
        <h4>Nit 919543531</h4>
        <h4>Responsable de IVA</h4>
        <h5>C.C LOS EJECUTIVOS LOCAL 8B CARTAGENA-COLOMBIA</h5>
      </div>
      <div class="col-6">
        <div class="row col-12 justify-content-between">
          <h3>FACTURA DE DENTA No.</h3>
          <h3>80175</h3>
        </div>
      </div>
    </div>
    <div class="factura-body">
      <div class="factura-content row">
        <div class="col-6">
          <div class="row">
            <div class="col-7 border-factura">
              <h3>Cliente</h3>
            </div>
            <div class="col-5 border-factura">
              <h3>NIT</h3>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 border-factura">
              <h3>TELEFONO</h3>
            </div>
            <div class="col-3 border-factura">
              <h3>Cliente</h3>
            </div>
            <div class="col-5 border-factura">
              <h3>Direccion</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="factura-content row">
        <div class="col-6">
          <div class="row">
            <div class="col-7 border-factura">
              <h3 class="font-weight-normal">MIDEREX SAS</h3>
            </div>
            <div class="col-5 border-factura">
              <h3 class="font-weight-normal">04324322342</h3>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 border-factura">
              <h3 class="font-weight-normal">300435353</h3>
            </div>
            <div class="col-3 border-factura">
              <h3 class="font-weight-normal">Bogota</h3>
            </div>
            <div class="col-5 border-factura">
              <h3 class="font-weight-normal">CALLE 10B36</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="factura-content row">
        <div class="col-6">
          <div class="row">
            <div class="col-6 border-factura">
              <h3 class="text-center">FECHA FACTURA</h3>
            </div>
            <div class="col-6 border-factura">
              <h3 class="text-center">FECHA VENCIMIENTO</h3>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6 border-factura">
              <h3 class="text-center">VENDEDOR</h3>
            </div>
            <div class="col-6 border-factura">
              <h3 class="text-center">FORMA DE PAGO</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="factura-content row">
        <div class="col-6">
          <div class="row">
            <div class="col-6 border-factura">
              <h3 class="font-weight-normal text-center">junio de 2020</h3>
            </div>
            <div class="col-6 border-factura">
              <h3 class="font-weight-normal text-center">04 junuio 29</h3>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6 border-factura">
              <h5 class="font-weight-normal text-center">FREDDY Simancas</h5>
            </div>
            <div class="col-6 border-factura">
              <h3 class="font-weight-normal text-center">Credito</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="factura-content row">
        <div class="col-3 border-factura">
          <h3>Descripction</h3>
        </div>
        <div class="col-2 border-factura">
          <h3>Cantidad</h3>
        </div>
        <div class="col-2 border-factura">
          <h3>U Medida</h3>
        </div>
        <div class="col-2 border-factura">
          <h3>Valor unitario</h3>
        </div>
        <div class="col-1 border-factura">
          <h3>IVA</h3>
        </div>
        <div class="col-2 border-factura">
          <h3 class="text-center">TOTAL</h3>
        </div>
      </div>
      <div class="factura-content row">
        <div class="col-3 border-factura-derecha">
          <p>Descripction</p>
          vv
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus,
            culpa minus odio non tenetur temporibus dolorem? Provident facilis
            reiciendis quidem consequuntur magni vel, ipsam hic excepturi
            repellendus, officiis eligendi eos.
          </p>
        </div>
        <div class="col-2 border-factura-derecha">
          <p>Cantidad</p>
        </div>
        <div class="col-2 border-factura-derecha">
          <p>U Medida</p>
        </div>
        <div class="col-2 border-factura-derecha">
          <p>Valor unitario</p>
        </div>
        <div class="col-1 border-factura-derecha">
          <p>IVA</p>
        </div>
        <div class="col-2 border-factura-derecha">
          <p class="text-center">TOTAL</p>
        </div>
      </div>
    </div>
    <div class="factura_footer"></div>
  </div>
</div>

<button (click)="imprimir()" class="btn btn-primary">
  Imprimir
</button>
